
<!--<div class="button-row">-->
  <!--<mat-form-field>-->
  <!--<input [(ngModel)]="key"matInput placeholder="Variablenname">-->
<!--</mat-form-field>-->
<!--<mat-form-field>-->
  <!--<input [(ngModel)]="value"matInput placeholder="Variablenwert">-->
<!--</mat-form-field>-->
  <!--<button mat-raised-button color="primary" (click)="setFilter()">filter</button>-->
<!--</div>-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> Value </th>
    <td mat-cell *matCellDef="let element"> {{element.value}}</td>
  </ng-container>

<!--  &lt;!&ndash; Symbol Column &ndash;&gt;
  <ng-container matColumnDef="incidentCount">
    <th mat-header-cell *matHeaderCellDef> Anzahl Fehler </th>
    <td mat-cell *matCellDef="let element"> {{element.incidentCount}} </td>
  </ng-container>-->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
