<div class="cockpit">
  <mat-toolbar color="primary" class="cockpit-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="cockpit-app-name">{{ 'main.appTitle' | translate }}</h1>
    <div style="width:100%">
    <button matTooltip="Change language to english" mat-raised-button style="float:right;" (click)="useLanguage('en')" *ngIf="language==='de'">en</button>
    <button matTooltip="Sprache auf Deutsch ändern" mat-raised-button style="float:right;" (click)="useLanguage('de')" *ngIf="language==='en'">de</button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="cockpit-content" >
    <mat-sidenav #snav>
      <mat-nav-list>
        <a mat-list-item routerLink="home">{{ 'menu.home' | translate }}</a>
        <a mat-list-item routerLink="processes">{{ 'menu.processes' | translate }}</a>
        <a mat-list-item routerLink="processInstance">{{ 'menu.processInstance' | translate }}</a>
        <a mat-list-item routerLink="settings">{{ 'menu.settings' | translate }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
