<div style="margin-top:5px;">
  ProcessInstance: {{processInstanceId}}
  <button mat-button [matMenuTriggerFor]="menu">Actions</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item color="primary" (click)="showHistory()">History</button>
    <button mat-menu-item color="primary" (click)="retry()">Retry</button>
  </mat-menu>
</div>
<div ngResizable [rzHandles]="'s'" (rzStop)="onResizeStop($event)" (rzStart)="onResizeStart($event)">
  <process-instance-viewer [processInstanceId]="processInstanceId" (tokensChanged)="tokensChanged($event)" [history]="history" [tokens]="tokens" [xml]="xml" *ngIf="xml != null && tokens != null"></process-instance-viewer>
</div>
<div id="processList" style="overflow-y: scroll; margin-top:10px;">
  <process-instance-variable-list [id]="processInstanceId"></process-instance-variable-list>
</div>
