<div style="margin-top:5px;"> <button mat-raised-button color="primary" (click)="showHeatmap()">
  <mat-icon>map</mat-icon>Heatmap
</button>
  <mat-form-field>
    <mat-select placeholder="Version" [(value)]="version" (selectionChange)="versionSelected($event.value)">
      <mat-option *ngFor="let version of versions" [value]="version" >
        {{version.version}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="retryAll()">
    <mat-icon>refresh</mat-icon>
    Alle Instanzen erneut versuchen
  </button>
</div>
<process-viewer (elementSelected)="elementSelected($event)" [tokens]="tokens" [xml]="xml" *ngIf="xml != null && tokens != null" [heatmap] = "heatmap"></process-viewer>

<process-instance-list [id]="id" [searchRequest]="searchRequest" ></process-instance-list>
