<div style="margin-top:5px;">
  <mat-form-field>
    <mat-select placeholder="Version" [(value)]="version" (selectionChange)="versionSelected($event.value)">
      <mat-option *ngFor="let version of versions" [value]="version" >
        {{version.version}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button [matMenuTriggerFor]="menu">Actions</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item color="primary" (click)="showHeatmap()">Heatmap</button>
    <button mat-menu-item color="primary" (click)="retryAll()">Retry All</button>
    <button mat-menu-item color="primary" (click)="migrateDialog()">Migration</button>
    <button mat-raised-button color="primary" (click)="deleteAll()">Alle Prozesse löschen</button>
    <button mat-raised-button color="red" (click)="removeDefinition()">Komplette Definition löschen</button>
  </mat-menu>

</div>
<div ngResizable [rzHandles]="'s'" (rzStop)="onResizeStop($event)" (rzStart)="onResizeStart($event)">
  <process-viewer (elementSelected)="elementSelected($event)" [tokens]="tokens" [xml]="xml" *ngIf="xml != null && tokens != null" [heatmap] = "heatmap"></process-viewer>
</div>
<div id="processList" style="overflow-y: scroll; margin-top:10px;">
  <process-instance-list [id]="id" [searchRequest]="searchRequest" ></process-instance-list>
</div>





