<div style="margin-top:5px;">
  <mat-form-field>
    <mat-select placeholder="Version" [(value)]="version" (selectionChange)="versionSelected($event.value)">
      <mat-option *ngFor="let version of versions" [value]="version" >
        {{version.version}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button [matMenuTriggerFor]="menu">Actions</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item color="primary" (click)="showHeatmap()">
      Heatmap
    </button>
    <button mat-menu-item color="primary" (click)="retryAll()">

      Retry All
    </button>
    <button mat-menu-item color="primary" (click)="migrateDialog()">

      Migration
    </button>
  </mat-menu>


</div>
<process-viewer (elementSelected)="elementSelected($event)" [tokens]="tokens" [xml]="xml" *ngIf="xml != null && tokens != null" [heatmap] = "heatmap"></process-viewer>

<process-instance-list [id]="id" [searchRequest]="searchRequest" ></process-instance-list>
